<ion-header>
  <ion-toolbar>
    <ion-title>
Nuevos Pedidos    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-segment  [(ngModel)]="segment">
<ion-segment-button value="cliente">
<ion-label>Buscar Cliente</ion-label>

</ion-segment-button>
<ion-segment-button value="nuevo">
  <ion-label>Nuevo Cliente</ion-label>
  </ion-segment-button>
</ion-segment>


<div [ngSwitch]="segment">
  <div  *ngSwitchDefault>
      <ion-item>
            <ion-label position="stacked">Dirección</ion-label>
            <ion-input placeholder="Dirección" id="direccion" #direccion></ion-input>
          </ion-item>

          <ion-list>
            <ion-item *ngFor="let c of clients | async" (click)="ventaCliente(c.id)">
              <ion-label>
                <h2>{{c.calle+" "+c.numero+" "+c.extra}}</h2>
                <h3>{{c.nombre+" "+c.apellido}}</h3>
              </ion-label>


            </ion-item>
            </ion-list>

          <div class="ion-padding">
  <ion-button expand="block" type="submit" class="ion-no-margin" (click)="buscarDireccion(direccion.value)">Buscar</ion-button>
</div>
  </div>
  <div *ngSwitchCase="'nuevo'">
    <ion-item>
      <ion-label position="stacked">Nombre</ion-label>
      <ion-input placeholder="Nombre Cliente" id="nombre" #nombre></ion-input>

      </ion-item>
      <ion-item>
        <ion-label position="stacked">Apellido</ion-label>
        <ion-input placeholder="Apellido Cliente" id="apellido" #apellido></ion-input>

        </ion-item>
        <ion-item>
          <ion-label position="stacked">Rut</ion-label>
          <ion-input placeholder="12345678-9" id="rut" #rut></ion-input>

          </ion-item>
          <ion-item>
            <ion-label position="stacked">Telefono</ion-label>
            <ion-input placeholder="+56923456789" id="telefono" #telefono></ion-input>

            </ion-item>
          <ion-item>
            <ion-label position="stacked">Email</ion-label>
            <ion-input placeholder="juanperez@gmail.com" id="email" #email></ion-input>

            </ion-item>
        <ion-item>
          <ion-label position="stacked">Calle</ion-label>
          <ion-input placeholder="Calle" id="calle" #calle></ion-input>

          </ion-item>

            <ion-item>
              <ion-label position="stacked">Número</ion-label>
              <ion-input placeholder="#123" id="numero" #numero></ion-input>

              </ion-item>
              <ion-item>
                <ion-label position="stacked">Extra</ion-label>
                <ion-input placeholder="#Depto 1" id="extra" #extra></ion-input>

                </ion-item>
                <ion-item>

                  <ion-label position="stacked">Comuna</ion-label>
                  <ion-select okText="OK" cancelText="Cancelar" id="comuna"#comuna >
                    <ion-select-option value="San Miguel">San Miguel</ion-select-option>
                    <ion-select-option value="La Florida">La Florida</ion-select-option>
                    <ion-select-option value="Puente Alto">Puente Alto</ion-select-option>

                    </ion-select>
                  </ion-item>
                  <ion-button expand="block" type="submit" class="ion-no-margin" (click)="guardaCliente(nombre.value,apellido.value,rut.value,telefono.value,email.value,calle.value,numero.value,extra.value,comuna.value)">Buscar</ion-button>

  </div>



  </div>


</ion-content>
