<ion-header>
  <ion-toolbar>
    <ion-title>
      Agua Gold
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="15">
<agm-marker [latitude]="lat" [longitude]="lng"  [iconUrl]="{
  url: './assets/icon/truck.png',
  scaledSize: {
        width: 40,
        height: 60
    }
}"></agm-marker>
<agm-marker *ngFor="let p of pedidos | async" [latitude]="p.lat" [longitude]="p.lng">
 <agm-info-window>Dirección: {{p.calle+" "+p.numero+" "+p.extra}}
<br>
Nombre: {{p.nombre+" "+p.apellido}}
<ion-chip (click)="detallePedido(p.id)">
  <ion-label>Ver Pedido</ion-label>
</ion-chip>
<ion-chip (click)="rutaPedido(p.id)">
  <ion-label>Ver Ruta</ion-label>
  </ion-chip>


 </agm-info-window>
</agm-marker>
</agm-map>
<ion-list>
  <ion-item *ngFor="let p of pedidos | async">
    <ion-label>{{p.calle}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
